<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="guides.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Meet The Team</title>
</head>
<body>

<h2>Meet The Team</h2>

<br>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://via.placeholder.com/300" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum.</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://via.placeholder.com/300" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum.</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    
    <div class="column">
        <div class="card">
            <img src="https://via.placeholder.com/300" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum.</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
