<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>User Ratings</title>
    
</head>
<body>

<span class="heading">User Rating</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<p>4.1 average based on 254 reviews.</p>
<hr style="border:2px solid #f1f1f1">

<div class="row">
    <div class="side">
        <div>5 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-5"></div>
        </div>
    </div>
    <div class="side right">
        <div>150</div>
    </div>
    <div class="side">
        <div>4 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-4"></div>
        </div>
    </div>
    <div class="side right">
        <div>63</div>
    </div>
    <div class="side">
        <div>3 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-3"></div>
        </div>
    </div>
    <div class="side right">
        <div>15</div>
    </div>
    <div class="side">
        <div>2 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-2"></div>
        </div>
    </div>
    <div class="side right">
        <div>6</div>
    </div>
    <div class="side">
        <div>1 star</div>
    </div>
    <div class="middle">
        <div class="bar-container">
            <div class="bar-1"></div>
        </div>
    </div>
    <div class="side right">
        <div>20</div>
    </div>
</div>

<div class="reviews">
    <h3>User Reviews:</h3>
    <div class="review">
        <span class="username">John D.</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p class="comment">Great product! Really satisfied with the quality.</p>
    </div>
    <div class="review">
        <span class="username">Jane S.</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <p class="comment">Good value for money, but it could be improved.</p>
    </div>
    <div class="review">
        <span class="username">Alice W.</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p class="comment">I had high expectations, but it didn't meet them.</p>
    </div>
    <div class="review">
        <span class="username">Mark T.</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <p class="comment">Not impressed, the product didn't work as advertised.</p>
    </div>
    <div class="review">
        <span class="username">Emily R.</span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <p class="comment">Fantastic experience! Highly recommend.</p>
    </div>
</div>

</body>
</html>
