<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="login.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
    
    
<div class="container">
    <form action="/action_page.php" method="post">
        <div class="imgcontainer">
            <img
                src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?size=626&ext=jpg&ga=GA1.1.1666267603.1727259008&semt=ais_hybrid"
                alt="Avatar"
                class="avatar"
            />
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required />

            <label for="psw"><b>Password</b></label>
            <input
                type="password"
                placeholder="Enter Password"
                name="psw"
                required
            />

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember" /> Remember me
            </label>
        </div>

        <div class="container" style="background-color: #f1f1f1">
            
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
        <div class="container-reg register">
            <p>Don't have an account? <button type="button" (click)="navigateToRegister()">Register</button>.</p>
        </div>
    </form>

    
</div>
</body>
</html>
